body {
    text-align:center;
}
.logo{
    text-align:right;
}
#mphead{
    color: aqua;
}
.mpMenu{
    color: aquamarine;
}
mpMenu{
    color:blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }
#eplanation {
    position: relative;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center"
}